body {
  padding-top: 70px;
  margin-bottom: 70px;
  color: #555;
  overflow: auto;
  padding-bottom: 70px;
}

fieldset legend {
  font-size: 22px;
  padding-top: 10px;
}

p {
  font-size: 14px;
}

.label-lg{
  line-height: normal;
  font-size: 14px;
}

.ui-slider-label {
  font-size: 120%;
}