%div
  - flash.each do |name, msg|
    - if msg.is_a?(String) 
      %div{class: "alert alert-dismissable #{flash_class(name.to_s)} fade in"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
        = msg